---
layout: default
---

<ul class="post-list" style="list-style: none; padding: 0px;">
  {% for post in site.posts %}
    <li style="border-bottom: 1px dotted; padding: 6px 0px;">
      <span class="post-meta"> {{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %} </span>

      <h1 style="margin: 0.88rem 0px; font-size: 1.8rem">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
          {% if post.subtitle %}
          <br />
          <span style="font-size: 1rem"><i>{{ post.subtitle }}</i></span>
          {% endif %}
        </a>
      </h1>
    </li>
  {% endfor %}
</ul>