<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main id="content" class="main-content" role="main">
      <article>
            <h1 style="text-align: center">{{ page.title }}</h1>

            <div class="post-categories">
              {% if post %}
                {% assign categories = post.categories %}
              {% else %}
                {% assign categories = page.categories %}
              {% endif %}
              {% for category in categories %}
              <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>

            {{ content }}

            <div class="post-tags">
              {% if post %}
                {% assign tags = post.tags %}
              {% else %}
                {% assign tags = page.tags %}
              {% endif %}
              {% for tag in tags %}
              <a href="{{site.baseurl}}/categories/#{{tag|slugize}}">{{tag}}</a>
              {% unless forloop.last %}&nbsp;{% endunless %}
              {% endfor %}
            </div>
      </article>
    </main>
    {% include footer.html %}
  </body>
</html>